/* big */
@media (-moz-bool-pref: "uc.padding.big") {
    @media not (-moz-bool-pref: "zen.view.compact") {
        #tabbrowser-tabpanels {
            padding: 1px 12px 12px 1px !important;
        }

        @media (-moz-bool-pref: "zen.view.sidebar-expanded") {
            #TabsToolbar {
                margin: 0px 8px 8px 8px !important;
            }

        }

        @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
            #TabsToolbar {
                margin: 0px 0px 8px 0px !important;
            }
        }

    }

    @media (-moz-bool-pref: "zen.view.compact") {
        #tabbrowser-tabpanels {
            padding: 12px !important;
        }

        @media (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
            #tabbrowser-tabpanels {
                padding: 12px 12px 12px 1px !important;
            }

            @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
                #TabsToolbar {
                    margin: 12px 0px 8px 0px !important;
                }
            }

            @media (-moz-bool-pref: "zen.view.sidebar-expanded") {
                #TabsToolbar {
                    margin: 8px 8px !important;
                }
            }

        }

        @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
            #tabbrowser-tabpanels {
                padding: 12px !important;
            }
        }
    }
}

/* bigger */
@media (-moz-bool-pref: "uc.padding.bigger") {
    @media not (-moz-bool-pref: "zen.view.compact") {
        #tabbrowser-tabpanels {
            padding: 1px 16px 16px 1px !important;
        }

        @media (-moz-bool-pref: "zen.view.sidebar-expanded") {
            #TabsToolbar {
                margin: 0px 10px 10px 10px !important;
            }

        }

        @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
            #TabsToolbar {
                margin: 0px 0px 10px 0px !important;
            }
        }

    }

    @media (-moz-bool-pref: "zen.view.compact") {
        #tabbrowser-tabpanels {
            padding: 16px !important;
        }

        @media (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
            #tabbrowser-tabpanels {
                padding: 16px 16px 16px 1px !important;
            }

            @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
                #TabsToolbar {
                    margin: 16px 0px 10px 0px !important;
                }
            }

            @media (-moz-bool-pref: "zen.view.sidebar-expanded") {
                #TabsToolbar {
                    margin: 10px 10px !important;
                }
            }

        }

        @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
            #tabbrowser-tabpanels {
                padding: 16px !important;
            }
        }
    }
}

/* biggest */
@media (-moz-bool-pref: "uc.padding.biggest") {
    @media not (-moz-bool-pref: "zen.view.compact") {
        #tabbrowser-tabpanels {
            padding: 1px 20px 20px 1px !important;
        }

        @media (-moz-bool-pref: "zen.view.sidebar-expanded") {
            #TabsToolbar {
                margin: 0px 12px 12px 12px !important;
            }

        }

        @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
            #TabsToolbar {
                margin: 0px 0px 12px 0px !important;
            }
        }

    }

    @media (-moz-bool-pref: "zen.view.compact") {
        #tabbrowser-tabpanels {
            padding: 20px !important;
        }

        @media (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
            #tabbrowser-tabpanels {
                padding: 20px 20px 20px 1px !important;
            }

            @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
                #TabsToolbar {
                    margin: 20px 0px 12px 0px !important;
                }
            }

            @media (-moz-bool-pref: "zen.view.sidebar-expanded") {
                #TabsToolbar {
                    margin: 12px 12px !important;
                }
            }

        }

        @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
            #tabbrowser-tabpanels {
                padding: 20px !important;
            }
        }
    }
}

/* remove padding in fullscreen */
@media (display-mode: fullscreen) {
    #tabbrowser-tabpanels {
        padding: 0px !important;
    }
}